# C++/CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
*.pch
*.pdb
*.ilk
*.user
*.log
*.vs/

# VSCode
.vscode/

# MacOS
.DS_Store

# Other
*.swp
*~
